<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <h4 class="mb-0 title">Register</h4>
        </div>
        <div class="card-body">
          <% if flash[:alert].present? %>
            <p class="alert alert-danger"><%= flash[:alert] %></p>
          <% end %>

          <%= form_with(url: users_path, as: @user, method: :post, local: true) do |f| %>
            <div class="mb-3">
              <%= f.label :name, class: "form-label" %>
                <%= f.text_field "user[name]", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field "user[email]", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field "user[password]", class: "form-control" %>
            </div>

            <div class="d-grid">
              <%= f.submit "Register", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
